name: Build and publish packages

on:
  push:
    branches:
      - master

env:
  IMAGE: curder/laravel-docker

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - tag: 'latest'
            php: '8.4'
          - tag: 'stable'
            php: '8.4'
          - tag: '8.5.0alpha2'
            php: '8.5'
          - tag: '8.4.15'
            php: '8.4'
          - tag: '8.3.28'
            php: '8.3'
          - tag: '8.2.29'
            php: '8.2'
          - tag: '8.1.33'
            php: '8.1'
          - tag: '8.0.30'
            php: 'eol/8.0'
          - tag: '7.4.33'
            php: 'eol/7.4'
          - tag: '7.3.33'
            php: 'eol/7.3'
          - tag: '7.2.34'
            php: 'eol/7.2'
          - tag: '7.1.33'
            php: 'eol/7.1'

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # Add support for more platforms with QEMU (optional)
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to Ali Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
          password: ${{ secrets.ALIYUN_DOCKER_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          context: ${{ matrix.php }}
          tags: |
            ghcr.io/${{ env.IMAGE }}:${{ matrix.tag }}
            ${{ env.IMAGE }}:${{ matrix.tag }}
            registry.cn-hangzhou.aliyuncs.com/${{ env.IMAGE }}:${{ matrix.tag }}
          cache-from: type=registry,ref=ghcr.io/${{ env.IMAGE }}:${{ matrix.tag }}
          cache-to: type=inline
